*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

html,body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;    
    height: 100%;
}

header {
    background: rgb(154, 197, 214);
    flex: 0 0 auto;
    min-height: 30px;
    padding-left: 20px;
    padding-top: 5px;
}

main {
    background: rgb(230, 230, 230);
    flex-grow: 1;    
    flex: 1 0 auto;
}

footer {
    background: gray;
    flex-grow: 1;
    flex: 0 0 auto;
    min-height: 30px;
    padding-left: 20px;
    padding-top: 5px;
}

.consumerTab {
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    width: 685px;
    margin-left: 20px;
    margin-top: 20px;
}

.contentRow, .title {
    display: flex;    
}

.nameColumn, .typeColunm, .numberColumn   {
    border: 1px solid silver;
}

.nameColumn {
    width: 500px;
}

.typeColunm {
    width: 35px;
}

.numberColumn {
    width: 150px;
}