.newConsumer {
    cursor: pointer;
    text-align:center;
    font-size:13px;
    text-decoration: none;
    font-weight: 700;
    padding: 3px 6px;
    background: #eaeef1;
    display:block;
    width:100px;
    margin: 4px 4px 4px 20px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.808);
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.newConsumer:hover {
    background: #fff;
}

.newConsumer:active {
    background: #d0d3d6;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 800;
    background-color: black;
    opacity: 0.5; 
}

.win {
    display: none;
    width: 405px;
    height: 200px;
    padding: 30px;
    background: rgb(253, 253, 253);
    border: 2px solid white;
    border-radius: 10px;
    color: #000;
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 30%;
    left: 0;
    margin: auto;
    z-index: 900;
    opacity: 1; 
}

form input {
    margin: 10px 0;
    border: 1px solid black;    
}

select {
    min-width: 150px;
    max-width: 200px;
    width: 100%;
    margin: 10px 0;
}

button {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.buttCancel {
    margin-top: 10px;
    margin-right: 10px;
    width:190px;
    padding: 6px;
}

.buttOK {
    margin-top: 10px;
    margin-right: 10px;
    width:190px;
    padding: 6px;
}

.alert {    
    color: red;    
}