.consumerTab {
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    width: 685px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentRow, .title {
    display: flex;    
}

.nameColumn, .typeColunm, .numberColumn   {
    border: 1px solid silver;
}

.nameColumn {
    width: 500px;
}

.typeColunm {
    width: 50px;
}

.numberColumn {
    width: 150px;
}

.inputName {
    margin: 0;
    border: 0;
    width: 100%;
}

.inputNumber {
    margin: 0;
    border: 0;
    width: 150px;
}