.consumerTab {
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    width: 685px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentRow, .title {
    display: flex;    
}

.nameColumn, .typeColunm, .numberColumn,
.nameTitle, .numberTitle, .typeTitle, 
.delColumn, .delTitle {
    border: 1px solid silver;
}

.nameColumn {
    width: 500px;
}

.typeColunm {
    width: 50px;
}

.numberColumn {
    width: 150px;
}

.delColunm {
    width: 20px;
}

.delButt {
    width: 20px;
    color: red;
    border-color: silver;
}

.nameTitle {
    width: 500px;
}

.typeTitle {
    width: 50px;
}

.numberTitle {
    width: 150px;
}

.delTitle {
    width: 20px;
}


.inputName {
    margin: 0;
    border: 0;
    width: 100%;
}

.inputNumber {
    margin: 0;
    border: 0;
    width: 150px;
}

.editSelectType {
    margin: 0;
    border: 0;
    width: 50px;
}

.modalDel {
    display: none;
    width: 200px;
    height: 70px;
    padding: 30px;
    background: rgb(253, 253, 253);
    border: 2px solid silver;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 30%;
    left: 0;
    margin: auto;
    z-index: 900;
}

.buttCancelDel {
    margin-top: 10px;
    margin-right: 10px;
    width:130px;
    padding: 6px;
}

.buttOKDel {
    margin-top: 10px;
    margin-right: 10px;
    width:40px;
    padding: 6px;
}